#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 6rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 80vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello {
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: pink;
}
.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;

}
.btn {
    background: white;
    margin: 2rem 0;
    padding: 0.05rem 2rem 0.05rem;
    border: none;
    border-radius: 2rem;
}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 2Spx;
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw;
    }
   
     
}
